body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
.container-fluid {
      padding: 30px 50px;
}

p {
	font-size: 16px;}

footer h3{font-size: 50px; color:#fff; font-family: "Montserrat"}

.bg-1{
	width: 100%;
    height: 400px;
	background-image: url("../IMG/devimg2.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.h3-Hola{
	font-size: 70px;
	color:#eee;
}

.p-Intro{
	font-size: 25px;
    color:#eee;
}

.bg-2{
	background-color: #3f51b5;
	color: #ffffff;
}

.bg-3{
	background-color: #c5cae9;
	color: #555555;
}


  .navbar {
      margin-bottom: 0;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #3f51b5 !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #fff !important;
      background-color: #3f51b5 !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #3f51b5 !important;
  }

.icon-bar {
    width: 100%;
    text-align: center;
    background-color: #222;
    overflow: auto;
}

.icon-bar a {
    width: 25%;
    padding: 12px 0;
    float: left;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
    color: white;
}
