/*General*/
body, html {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    height: auto;
}
.container-fluid {
      padding: 30px 50px;
}

p {font-size: 16px;}

	/*#Cambiar el estilo según el tamano de pantalla - Responsive*/
@media only screen and (min-width: 767px) {
	.bg-1{
		height: 80%;
		background-attachment: fixed;
	}
    .h3-Hola{
		font-size: 60px;
		color:#fff;
	}
	.p-Intro{
	font-size: 25px;
    color:#fff;
	}
}

@media only screen and (min-width:0px) and (max-width:767px) {
    .bg-1 {
    	height: auto;
        background-attachment: scroll;
    }
    .h3-Hola{
		font-size: 40px;
		color:#fff;
	}
	.p-Intro{
	font-size: 16px;
    color:#fff;
	}
}


/*Barra de Navegación*/
.navbar {
  	  font-family: "Montserrat";
      margin-bottom: 0;
      z-index: 9999;
      border: 0;
      font-size: 16px !important;
      line-height: 1.42857143 !important;
      /*letter-spacing: 4px;*/
      border-radius: 0;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #3f51b5 !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #fff !important;
      background-color: #3f51b5 !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #3f51b5 !important;
  }


/*Header*/
.bg-1{
	width: 100%;
	background-image: url("../IMG/code1.jpg");
    color: #fff;
	font-family: "Montserrat";
    text-shadow: 0.5px 0.5px #aaa;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Habilidades*/
.bg-2{
	background-color: #3f51b5;
	color: #ffffff;
}
		/*Cards*/
.card{
	padding:20px 20px;
}
.card .hab-iconos:hover{color:#000;}

.card span{font-size: 80px;}

.h3-Habilidades{font-size: 40px; color:#fff; font-family: "Montserrat"}	

/*Ejemplos*/
.bg-3{
	background-color: #f1f1f1;
	color: #222;
}
.bg-3 h4{font-size: 30px;}
.h3-Ejemplos{font-size: 40px; color:#222; font-family: "Montserrat"}
.ejemplo-img:hover{opacity: 0.5}

/*Footer*/
footer .contact{
	color: #f0f0f0;
	font-size: 20px;
	padding: 20px 20px;
}

footer h3{font-size: 40px; color:#fff; font-family: "Montserrat"}
.icon-bar {
    width: 100%;
    text-align: center;
    background-color: #212121;
    overflow: auto;
}

.icon-bar a {
    width: 25%;
    padding: 12px 0;
    float: left;
    transition: all 0.3s ease;
    color: white;
    font-size: 40px;
}

.icon-bar a:hover {
    background-color: #000;
    color: white;
}
footer{
	background-color: #212121;
	margin-bottom: 0px;
}
footer .visit{
	font-size: 20px;
	color: #fff;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #3f51b5;
}
footer .firma{font-size: 10px; color: #000;}


/*animación*/

.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide; 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    visibility: visible; 
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}