body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
.container-fluid {
      padding: 30px 50px;
}

p {
	font-size: 16px;}

.h3-Habilidades{font-size: 50px; color:#fff; font-family: "Montserrat"}	

footer h3{font-size: 50px; color:#fff; font-family: "Montserrat"}

.bg-1{
	width: 100%;
    height: auto;
	background-image: url("../IMG/devimg.jpeg");
	/*opacity: 0.5;
    filter: alpha(opacity=50);*/
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1024px) {
    .bg-1 {
        background-attachment: scroll;
    }
    .h3-Hola{
	font-size: 50px;
	color:#fff;
	}
	.p-Intro{
	font-size: 16px;
    color:#fff;
	}
}


.h3-Hola{
	font-family: "Montserrat"; 
	font-size: 70px;
	color:#000;
}

.p-Intro{
	font-family: "Montserrat";
	font-size: 30px;
    color:#111;
    /*width: 600px;*/
    /*background-color: rgba(179, 179, 179, 0.15);*/
}

.bg-2{
	background-color: #3f51b5;
	color: #ffffff;
}

.bg-3{
	background-color: #f1f1f1;
	color: #222;
}
.bg-3 h4{font-size: 30px;}

footer .contact{
	color: #f0f0f0;
	font-size: 20px;
	padding: 20px 20px;
}

  .navbar {
  	  font-family: "Montserrat";
      margin-bottom: 0;
      z-index: 9999;
      border: 0;
      font-size: 16px !important;
      line-height: 1.42857143 !important;
      /*letter-spacing: 4px;*/
      border-radius: 0;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #3f51b5 !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #fff !important;
      background-color: #3f51b5 !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #3f51b5 !important;
  }

.icon-bar {
    width: 100%;
    text-align: center;
    background-color: #212121;
    overflow: auto;
}

.icon-bar a {
    width: 25%;
    padding: 12px 0;
    float: left;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
    color: white;
}
footer{
	background-color: #212121;
	margin-bottom: 0px;
}
footer .visit{
	font-size: 20px;
	color: #fff;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #3f51b5;
}
footer .firma{font-size: 10px; color: #000;}

/*Cards*/
.card{
	padding:20px 20px;
}
.card .hab-iconos:hover{color:#000;}

.card span{font-size: 50px;}

/*ejemplos*/

.h3-Ejemplos{font-size: 50px; color:#222; font-family: "Montserrat"}
.ejemplo-img:hover{opacity: 0.5}



/*animación*/

.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide; 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    visibility: visible; 
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}