#body{
    margin: 0px;
    padding: 0px;
}

/*navbar*/

/*boton de registro de la navbar*/
.boton_registro_navbar {
    background-color: #fe9611;
    border: none;
    color: #fff;
    /*padding: 0.1px 1px;*/
    /*text-align: center;*/
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 28px;
    font-weight: 700;
    margin: 1px 1px;
}

.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    line-height: 1.42857143 !important;
    letter-spacing: 0.2px;
    border-radius: 0;
    background-color: #181818 !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 24px;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
 
.boton_registro_navbar:hover{
    color: #fff !important;
    background-color: #E76204 !important;
}

.nav_option:hover{
    color: #fe9611 !important;
}
  
.navbar-default .navbar-toggle {
    border-color: #fe9611;
}

.navbar .navbar-brand{
    font-size: 36px !important;
    font-weight: 700;
}

/* primary content main*/

.main{
	width: 100%;
    height: auto;
    background-image: url("../IMG/teacher.jpg");
    position: relative;
	background-size: cover;
    padding: 60px;
}

.main .main_title{
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 80px;
    font-weight: 700;
    text-shadow: 2px 2px 2px #000;
}

.main .main_subtitle{
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 36px;
    font-weight: 300;
    text-shadow: 2px 2px 2px #000;
}

/*Secondary content*/

.serv{
    background-color: #f2f2f2;
    font-family: 'Roboto Condensed', sans-serif !important;
    padding-bottom: 30px;
}

.serv .serv_icon h4{
    font-size: 24px !important;
    font-weight: 700 !important;
}

.serv_icon {
      padding: 0 0 10px 0;
      border: none;
      border-radius: 0;
}
.serv_icon img {
      width: 100%;
      height: 100%;
      margin-bottom: 1px;
}


/*Descripcion de servicios*/
.desc{
    background-color: #f2f2f2;
}

.desc_row{
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.desc h3{
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 36px;
    font-weight: 700;
}

.desc p{
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 24px;
    font-weight: 300;
}


/*tertiary content*/
/*Quienes somos*/
.somos{
    width: 100%;
    height: auto;
    background-image: url("../IMG/teacher-2.jpg");
    position: relative;
	background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
}

.somos h3, .somos p{
    color:#fff;
    font-family: 'Roboto Condensed', sans-serif !important;

}

.somos h3{
    font-size: 48px;
    font-weight: 700;
}

.somos p{
    font-size: 36px;
    font-weight: 300;
    padding-left: 100px;
    padding-right: 100px;
}
/*footer*/

.footer{
    background-color: #181818;
    color:#fff;
    padding-bottom: 10px;
    padding-top: 5px;
}

.footer h3{
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 24px;
    font-weight: 700;
}

.footer p{
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 14px;
    font-weight: 300;
    color: #505050;
}


.footer_pre h3{
    color: #272527;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 48px;
    font-weight: 700;
}
.footer_pre p{
    font-size: 36px;
    font-weight: 300;
    padding-left: 100px;
    padding-right: 100px;
}

/*botón de registro del contenido*/
.boton_registro{
    background-color: #fe9611;
    border: none;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 36px;
    font-weight: 700;
    margin: 4px 2px;
    text-shadow: 1px 1px 3px #000;
}

.boton_registro:hover{
    background-color: #E76204;
}


.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.footer_pre {
    background-color: #f2f2f2;
    padding: 10px;
}
